.node {
    outline: 1px solid #e6e6e6;
    display: inline-block;
}

.node-25 {
    width: 25px;
    height: 25px;
}

.node-50 {
	width: 50px;
    height: 50px;
}

.node-100 {
	width: 100px;
    height: 100px;
}

.node-x {
    background-color: red;
}

.node-o {
    background-color: green;
}

.node > span {
    font-size: 9px;
    display: table;
}